<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <section id="appointment" class="appointment section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Start solving your health problems.</h2>
                <p>Fill in the form, so that our specialist can help you in the best way possible.</p>

            </div>

            <form th:method="post" th:action="@{/consultation/send/{id}(id=${doctorId})}" class="php-email-form" th:object="${model}">
                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <input type="number" class="form-control" name="age" id="age" placeholder="Age..." th:value="*{age}">
                        <th:block th:if="${#fields.hasErrors('age')}">
                            <p class="error" th:errors="*{age}"></p>
                        </th:block>
                    </div>
                </div>

                <div class="section-title">
                    <h4>Gender</h4>
                </div>
                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <select name="gender" id="gender" class="form-control">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <th:block th:if="${#fields.hasErrors('gender')}">
                            <p class="error" th:errors="*{gender}"></p>
                        </th:block>
                    </div>
                </div>

                <div class="section-title">
                    <h4>Do you have any set diagnoses or chronic illnesses? If yes, what are they?</h4>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="diagnoses" name="diagnoses" rows="5" placeholder="Set diagnoses, chronic illnesses..." th:value="*{diagnoses}"></textarea>
                </div>

                <div class="section-title">
                    <h4>Do you take any medicaments, vitamins or supplements on regular basis? If yes, what are they and how much do you take?</h4>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="medicaments" name="medicaments" rows="5" placeholder="Medicaments, vitamins, supplements..." th:value="*{medicaments}"></textarea>
                </div>

                <div class="section-title">
                    <h4>Do you have any allergies? If yes, what are they?</h4>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="allergy" name="allergy" rows="5" placeholder="Allergies..." th:value="*{allergy}"></textarea>
                </div>

                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <input type="text" class="form-control" name="problemTitle" id="problemTitle" placeholder="Problem title..." th:value="*{problemTitle}">
                        <th:block th:if="${#fields.hasErrors('problemTitle')}">
                            <p class="error" th:errors="*{problemTitle}"></p>
                        </th:block>
                    </div>
                </div>

                <div class="section-title">
                    <h4>What is your problem and what do you want to achieve?</h4>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="problemDescription" name="problemDescription" rows="5" placeholder="Describe your problem and the desired outcome..." th:value="*{problemDescription}"></textarea>
                    <th:block th:if="${#fields.hasErrors('problemDescription')}">
                        <p class="error" th:errors="*{problemDescription}"></p>
                    </th:block>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button class="text-center btn btn-info text-white mb-3" type="submit">Send Request</button>
                </div>
            </form>

        </div>
    </section>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>