<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <section id="appointment" class="appointment section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Start solving your health problems.</h2>
                <p>Fill in the form, so that our specialist can help you in the best way possible.</p>

            </div>

            <form th:method="POST" th:action="@{/consultation/send/{id}(id=${doctorId})}" class="php-email-form"
                  th:object="${consultationSendBindingModel}">
                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <input th:field="*{age}" th:classappend="${#fields.hasErrors('age')}? 'is-invalid'"
                               type="number" class="form-control" name="age" id="age" placeholder="Age...">
                        <small th:if="${#fields.hasErrors('age')}" class="text-danger"
                               th:errors="*{age}"></small>
                    </div>
                </div>

                <div class="section-title">
                    <h4>Gender</h4>
                </div>
                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <select th:field="*{gender}" th:classappend="${#fields.hasErrors('gender')}? 'is-invalid'"
                                name="gender" id="gender" class="form-control">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <small th:if="${#fields.hasErrors('gender')}" class="text-danger"
                               th:errors="*{gender}"></small>
                    </div>
                </div>

                <div class="section-title">
                    <h4>Do you have any set diagnoses or chronic illnesses? If yes, what are they?</h4>
                </div>
                <div class="form-group">
                    <textarea th:field="*{diagnoses}" th:classappend="${#fields.hasErrors('diagnoses')}? 'is-invalid'"
                              class="form-control" id="diagnoses" name="diagnoses" rows="5"
                              placeholder="Set diagnoses, chronic illnesses..."></textarea>
                    <small th:if="${#fields.hasErrors('diagnoses')}" class="text-danger"
                           th:errors="*{diagnoses}"></small>
                </div>

                <div class="section-title">
                    <h4>Do you take any medicaments, vitamins or supplements on regular basis? If yes, what are they and
                        how much do you take?</h4>
                </div>
                <div class="form-group">
                    <textarea th:field="*{medicaments}"
                              th:classappend="${#fields.hasErrors('medicaments')}? 'is-invalid'" class="form-control"
                              id="medicaments" name="medicaments" rows="5"
                              placeholder="Medicaments, vitamins, supplements..."></textarea>
                    <small th:if="${#fields.hasErrors('medicaments')}" class="text-danger"
                           th:errors="*{medicaments}"></small>
                </div>

                <div class="section-title">
                    <h4>Do you have any allergies? If yes, what are they?</h4>
                </div>
                <div class="form-group">
                    <textarea th:field="*{allergy}" th:classappend="${#fields.hasErrors('allergy')}? 'is-invalid'"
                              class="form-control" id="allergy" name="allergy" rows="5"
                              placeholder="Allergies..."></textarea>
                    <small th:if="${#fields.hasErrors('allergy')}" class="text-danger"
                           th:errors="*{allergy}"></small>
                </div>

                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <input th:field="*{problemTitle}"
                               th:classappend="${#fields.hasErrors('problemTitle')}? 'is-invalid'" type="text"
                               class="form-control" name="problemTitle" id="problemTitle"
                               placeholder="Problem title...">
                        <small th:if="${#fields.hasErrors('problemTitle')}" class="text-danger"
                               th:errors="*{problemTitle}"></small>
                    </div>
                </div>

                <div class="section-title">
                    <h4>What is your problem and what do you want to achieve?</h4>
                </div>
                <div class="form-group">
                    <textarea th:field="*{problemDescription}"
                              th:classappend="${#fields.hasErrors('problemDescription')}? 'is-invalid'"
                              class="form-control" id="problemDescription" name="problemDescription" rows="5"
                              placeholder="Describe your problem and the desired outcome..."></textarea>
                    <small th:if="${#fields.hasErrors('problemDescription')}" class="text-danger"
                           th:errors="*{problemDescription}"></small>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button class="text-center btn btn-info text-white mb-3" type="submit">Send Request</button>
                </div>
            </form>

        </div>
    </section>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>