<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <section id="appointment" class="appointment section-bg">w
        <div class="container">
            <form th:method="post" th:action="@{/specialty/create/}" class="php-email-form"
                  enctype="multipart/form-data" th:object="${specialtyAddBindingModel}">
                <div class="form-row">
                    <div class="col-md-4 offset-md-4 form-group">
                        <input th:field="*{name}"
                               th:classappend="${#fields.hasErrors('name')}? 'is-invalid'" type="text" name="name"
                               class="form-control" id="name" placeholder="Specialty Name...">
                        <small th:if="${#fields.hasErrors('name')}" class="text-danger"
                               th:errors="*{name}"></small>
                    </div>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button class="text-center btn btn-info text-white mb-3" type="submit">Create</button>
                </div>
            </form>
        </div>
    </section>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>