<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar-user}"></th:block>
</header>
<main>
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Sent Requests</h2>
                <p>Here is your requests dashboard sections. Click on the problem title to see whether you have an answer.</p>
            </div>

            <div class="faq-list">
                <ul>
                    <th:block th:each="consultation : ${consultations}">
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" th:href="@{/consultation/details/{id}(id=${consultation.id})}">[[${consultation.problemTitle}]]<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        </li>
                    </th:block>
                </ul>
            </div>

        </div>
    </section>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>